.nav {
  padding: 1rem 0;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

.logoLink {
  display: inline-block; /* or block, depending on your layout needs */
  cursor: pointer;
}


.logo {
  height: 30px; /* Reduced from 40px to 30px */
  width: auto; /* This ensures the aspect ratio is maintained */
  margin-right: 8px; /* Slightly reduced margin */
}

.navContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-weight: bold;
}

.title a {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 0;
}

.description a {
  display: flex;
  align-items: center;
}

.description svg {
  margin-right: .4em;
}